#container,
#contxt,
#button,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #16a085;
}

#container {
	border-radius: 10px;
	width: 600px;
	margin: 200px auto;
	margin-bottom: 0;
	background-color: #fff;
}

#contxt {

	padding: 20px;
	height: 400px;

}

#text {
	letter-spacing: 3px;
	font-family: "宋体";
	font-size: 40px;
	color: #16a085;
}

#author {
	float: right;
	color: #16a085;
	font-size: 20px;
}

#footer {
	color: white;
	clear: both;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#button {
	cursor: pointer;
	background-color: #16a085;
	color: white;
	padding: 10px;
	font-size: 20px;
	clear: both;
	float: right;
	border-radius: 15px;
}
